body {
    font-family: Arial, sans-serif;
    margin: 40px auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

#message_input {
    width: 80%;
    padding: 10px 15px;
    margin-top: 5;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
