body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.card {
    display: none;
    flex-wrap: wrap;
    max-width: 80%;
    padding: 15px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-title {
    flex-basis: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    color: #555;
}

.card-item {
    margin-bottom: 8px;
    font-size: 14px;
}

.card-row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#option-container button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #4b9ae9;
    font-size: 14px;
}

#bold-text {
    font-weight: bolder;
}

.buttons {
    display: flex;
    gap: 10px; /* 使用 gap 属性代替 margin 左右设置，使代码更简洁 */
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* 提供一种鲜明的颜色使按钮更显眼 */
    color: #fff;
}

button:disabled {
    background-color: #ccc; /* 设置灰色背景 */
    color: #888; /* 设置淡灰色文本 */
    cursor: not-allowed; /* 设置不允许的光标样式 */
}

.markdown-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: 70%;
    width: 70%;
    max-height: 60%;
    max-width: 70%;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
