<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人生重启</title>
    <style>
        /* 居中样式 */
        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Markdown容器样式 */
        .markdown-container {
            display: none;
            border: 1px solid black;
            padding: 15px;
            max-height: 300px;  /* 可以根据需要调整 */
            overflow-y: scroll;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        async function sendMessage() {
            document.getElementById('beginButton').style.display = 'none';
            let resultParagraph = document.getElementById("markdownArea");
            // resultParagraph.innerHTML = ""; // Clear the result paragraph

            const response = await fetch('/life-reload/begin/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const reader = response.body.getReader();

            while (true) {
                const { done, value } = await reader.read();
                if (done) {
                    break;
                }
                const text = new TextDecoder().decode(value);
                console.log(text)
                resultParagraph.innerHTML += text;

            }
        };
    </script>

</head>

<body>

<div class="centered">
    <button id="beginButton" onclick="sendMessage()">开始游戏</button>
    <!-- <div class="markdown-container" id="markdownArea"></div> -->
    <p id="markdownArea"></p>
</div>

</body>

</html>
