<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人生重启</title>
    <link rel="icon" type="image/png" href="/life-reload/static/icon.png">
    <link rel="stylesheet" href="/life-reload/static/game.css">
    <script src="/life-reload/static/game.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12/dist/markdown-it.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>
    <script>
        let sessionId = uuidv4();
        localStorage.setItem('session_id', sessionId);
    </script>

</head>

<body>

<div class="centered">
    <div class="card">
        <div class="card-title">个人信息</div>
        <div class="card-row ">
            <div class="card-item" id="gender">性别: </div>
            <div class="card-item" id="city">城市: </div>
            <div class="card-item" id="age">年龄: </div>
            <div class="card-item" id="personality">性格: </div>
        </div>
        <div class="card-row">
            <div id="charm">魅力: </div>
            <div id="intelligence">智力: </div>
            <div id="health">健康: </div>
            <div id="wealth">富裕: </div>
            <div id="happiness">幸福度: </div>
        </div>
    </div>

    <div class="markdown-container" id="markdownArea">
    </div>

    <div class="buttons">
        <button class="button" id="beginButton" onclick="getBackground()">生成背景</button>
        <button class="button" id="beginButton" onclick="getBackground()">生成事件</button>
    </div>

</div>

</body>

</html>
