<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RichCat ChatBot</title>
    <link rel="icon" type="image/png" href="/chat/static/icon.png">
    <link rel="stylesheet" href="/chat/static/css.css">

    <script>
        async function sendMessage() {
            let resultParagraph = document.getElementById("result_paragraph");
            resultParagraph.innerHTML = ""; // Clear the result paragraph

            let message = document.getElementById("message_input").value;

            const response = await fetch('/chat/send/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    message: message
                })
            });
            const reader = response.body.getReader();

            while (true) {
                const { done, value } = await reader.read();
                if (done) {
                    break;
                }
                const text = new TextDecoder().decode(value);
                resultParagraph.innerHTML += text;

            }
        }
    </script>
</head>

<body>
    <h1>Hello from RichCat Tech! <br> You could ask me anything!</h1>
    <input type="text" id="message_input" placeholder="Type a message...">
    <!-- <br> -->
    <button onclick="sendMessage()">Send Message</button>

    <!-- Add a <p> element to display the result -->
    <p id="result_paragraph"></p>
</body>

</html>
